{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_comment_show'|trans({'%id%': comment.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_comment_show'|trans({'%id%':comment.id|default('')}) }}</h1>
    {% if comment is defined %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ comment.id }}</dd>
            <dt>{{ 'comment_nickname'|trans }}</dt>
            <dd>{{ comment.nickname }}</dd>
            <dt>{{ 'comment_email'|trans }}</dt>
            <dd>{{ comment.email }}</dd>
            <dt>{{ 'comment_content'|trans }}</dt>
            <dd>{{ comment.content }}</dd>
        </dl>
        <p>
            <a href="{{ url('comment_index') }}" class="btn btn-light">
                {{ 'action_back_to_list'|trans }} <i class="bi bi-arrow-return-left"></i>
            </a>
        </p>
    {% else %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'message_item_not_found'|trans
        } %}
    {% endif %}
{% endblock %}