{% extends 'base.html.twig' %}

    {% block title %}
        {{ 'image_list_title'|trans }}
    {% endblock %}

    {% block body %}
    <div id="image_list">
        <h1>{{ 'image_list_title'|trans }}</h1>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="button-container" style="margin-bottom: 1em;">
            <a class="btn btn-success" href="{{ url('image_create') }}"
               title="{{ 'action_create'|trans }}">
                {{ 'action_create'|trans }}
            </a>
        </div>
        {% endif %}
        {% if pagination is defined and pagination.items|length %}
            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'image.id') }}</th>
                    <th>{{ 'image_picture'|trans }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'image_title'|trans, 'image.title') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'image_description'|trans, 'image.description') }}</th>
                    <th>{{ 'label_actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for image in pagination.items %}
                    <tr>
                        <td>{{ image.id }}</td>
                        <td><img src="{{ asset('/upload/')~image.filename }}" width="150"></td>
                        <td>{{ image.title }}</td>
                        <td>{{ image.description }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ url('image_show', {id: image.id}) }}"
                               title="{{ 'action_show'|trans }}">
                                {{ 'action_show'|trans }}
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-primary" href="{{ url('image_edit', {id: image.id}) }}"
                               title="{{ 'action_edit'|trans }}">
                                {{ 'action_edit'|trans }}
                            </a>
                            <a class="btn btn-danger" href="{{ url('image_delete', {id: image.id}) }}"
                               title="{{ 'action_delete'|trans }}">
                                {{ 'action_delete'|trans }}
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>

        {% else %}
            <p>
                {{ 'message_empty_list'|trans }}
            </p>
        {% endif %}
    </div>
    {% endblock %}