{% extends 'base.html.twig' %}

    {% block title %}
        {{ 'album_list_title'|trans }}
    {% endblock %}

    {% block body %}
    <div id="album_list">
        <h1>{{ 'album_list_title'|trans }}</h1>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="button-container" style="margin-bottom: 1em;">
            <a class="btn btn-success" href="{{ url('album_create') }}"
               title="{{ 'action_create'|trans }}">
                {{ 'action_create'|trans }}
            </a>
        </div>
        {% endif %}
        {% if pagination is defined and pagination.items|length %}
            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'album.id') }}</th>
                    <th>{{ 'album_cover'|trans }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'album_title'|trans, 'album.name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'album_description'|trans, 'album.description') }}</th>
                    <th>{{ 'album_photos_count'|trans }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'album_createdAt'|trans, 'album.createdAt') }}</th>
                    <th>{{ 'label_actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for album in pagination.items %}
                    <tr>
                        <td>{{ album.id }}</td>
                        <td>
                            {% if album.cover %}
                            <img src="{{ asset('upload/')~album.cover.filename }}" width="150">
                            {% else %}
                            <img src="{{ asset('img/image-placeholder-350x350.png') }}" width="150">
                            {% endif %}
                        </td>
                        <td>{{ album.name }}</td>
                        <td>{{ album.description }}</td>
                        <td>{{ album.images|length }}</td>
                        <td>{{ album.createdAt|date('Y-m-d H:i') }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ url('album_show', {id: album.id}) }}"
                               title="{{ 'action_show'|trans }}">
                                {{ 'action_show'|trans }}
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-primary" href="{{ url('album_edit', {id: album.id}) }}"
                               title="{{ 'action_edit'|trans }}">
                                {{ 'action_edit'|trans }}
                            </a>
                            <a class="btn btn-danger" href="{{ url('album_delete', {id: album.id}) }}"
                               title="{{ 'action_delete'|trans }}">
                                {{ 'action_delete'|trans }}
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>

        {% else %}
            <p>
                {{ 'message_empty_list'|trans }}
            </p>
        {% endif %}
    </div>
    {% endblock %}